@{
    ViewBag.Title = "Complex Charts";
}

<h2>Complex Charts</h2>

<div class="row">
    <div class="col-md-4">
        @Html.Partial("LineChart")
    </div>
    <div class="col-md-4">
        @Html.Partial("BarChart")
    </div>
    <div class="col-md-4">
        @Html.Partial("RadarChart")
    </div>
</div>
