@{
    const string Canvas = "DoughnutChart";
    var chart = new DoughnutChart();
    chart.Data.AddRange(FakeSimpleChartData.Data);
}
<h3>@Canvas</h3>
<canvas id="@Canvas" width="400" height="400"></canvas>

@Html.CreateChart(Canvas, chart)